*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(min-width: 320px) {
    .secundImg{
        display: none;
    }

    .others-materia{
        display: none;
    }

    .secundLogo{
        display: none;
    }

    .others{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
                
    .others .materia, .others .others-materia{
        min-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
                    
    .others .materia img, .others .others-materia img{
        width: 100%;
        
    }
}

@media(min-width: 768px) {
    .others{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .others .materia, .others .others-materia{
        min-width: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .others .materia img, .others .others-materia img{
        width: 100%;
    }
}

body{
    font-family: 'Montserrat', sans-serif;
    
}


.secundImg{
    height: 1226px;
    width: 1226px;
    left: -122px;
    top: -149px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h2{
    color: #76b83f;
    font-size: 24px;
    margin-top: 33px;
    margin-bottom: 39px;
}

.header img{
    margin-bottom: 19px;
}

.header p{
    font-size: 16px;
    margin-bottom: 24px;
}

.download{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download .sub{
    /* margin-top: 24px; */
    margin-bottom: 14px;
    font-size: 12px;
}

.download .btn {
    background-color: #76b83f;
    height: 40px;
    width: 152px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 28px;
}

.download .btn a{
    color: white;
    text-decoration: unset;
}

.title-others{
    margin-bottom: 12px;
}

.others{
    display: flex;
    justify-content: space-between;
}

.others .materia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.others .materia img{
    margin-bottom: 5px;
}

.others .materia sub{
    font-size: 12px;
    margin-bottom: 24px;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button .plus{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 15px;
    text-decoration: unset;
    color: black;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img{
    width: 53px;
    height: 32px;

    margin-top: 8px;
    margin-bottom: 15px;
}







@media(min-width: 992px){
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;

        height: 100vh;
        width: 100vw;
    }

    .container .secundImg{
        display: block;
        margin: 0;
    }

    .header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header h2{
        color: #76b83f;
        font-size: 36px;
        margin-top: 33px;
        margin-bottom: 39px;
    }

    .header .text{
        font-size: 16px;
    }

    .secundContainer{
        height: 100vh;
        width: 100vw;
    }

    .imgLarge{
        display: none;
    }
    
    .download{
        margin-top: 64px;
    }
    
    .download .sub{
        margin-bottom: 15px;
        font-size: 14px;
    }
    
    .secundLogo{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-bottom: 32px;
        margin-top: 38px;
    }
    
    .title-others{
        font-size: 24px;
        margin-bottom: 14px;
    }

    .others{
        display: flex;
        justify-content: space-between;
    }

    .others .materia, .others-materia{
        margin-left: 52px;
        margin-right: 39px;
        margin-bottom: 24px;
    }

    .others .materia sub, .others .others-materia sub{
        font-size: 16px;
        margin-bottom: 55px;
    }

    .button .plus{
        font-size: 16px;
    }

    footer img{
        display: none;
    }
}